*{
   margin: 0;
   padding: 0;
}
.cabeçalho {
   background-color: darksalmon;
   color: darksalmon;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 24px 0;
}
.cabeçalho_imagem{
   width: 10%;
}
.cabeçalho_lista{
   display: inline;
}